* {
  margin: 0 auto;
  padding: 8;
}

#container {
  background-image: linear-gradient(#00000080, #5555d7), url("/assets/images/survey2.jpg");
  background-size: cover;
  background-position: center;
  height: 200vh;
  padding-top: 10px;
}

.heading h1 {
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 12px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-weight: 100;
  color: white;
  padding-top: 50px;
  border: navajowhite;
  background-color: #00000080;
}

.answer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 40%;
  padding-right: 40%;
  margin: 4px 3px;
  border-radius: 5px;
}

#submit-button {
  background-color: #37af65;
  color: aliceblue;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
  padding-left: 45%;
  padding-right: 45%;
  margin-top: 15px;
  margin-bottom: 50px;
}

.spacing {
  margin-top: 4px;
  margin-bottom: 12px;
}

.box {
  margin-top: 4px;
  margin-bottom: 12px;
}

.options {
  margin-top: 4px;
  margin-bottom: 12px;
}

.comments {
  gap: 5px;
}

#dropdown {
  width: 115%;
  padding: 5px;
}

#choice {
  width: 115%;
  padding: 5px;
}
